<app-header></app-header>
<main>
  <ul id="users">
    @for (item of users; track item.id) 
    {
       <li> <app-user [user]="item" [selected]="item.id===selectedUserID"  (select)="onSelectUser($event)"/></li>
    }
    </ul>
    <!-- <li *ngFor="let item of users"> 
      <app-user [user]="item" (select)="onSelectUser($event)"/>
    </li> -->
  
  @if(selectedUser)
  {
    <app-tasks [username]="selectedUser.name" [id]="selectedUser.id"></app-tasks>
  }
  @else {
    <p id="fallback">Select a user to see their tasks!</p>
  }  
    
  <!-- <app-tasks *ngIf="selectedUser; else fallback" [username]="selectedUser.name"></app-tasks>

  <ng-template #fallback>
    <p id="fallback">Select a user to see their tasks!</p>
  </ng-template> -->
  
</main>
